* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: antiquewhite;
  font-family: sans-serif;
}
footer {
  display: flex;
  justify-content: space-around;
  background-color: aqua;
  border-radius: 5px;
  box-shadow: 0px 0.5px 0.5px rgb(0, 0, 0.5);
  max-width: 1000px;
  margin: 50px auto;
  padding-top: 20px;
  padding-bottom: 20px;
}
.footer-header {
  font-size: 20px;
  font-weight: 600;
}
.footer-links {
  font-size: 16px;
  list-style: none;
  margin-top: 10px;
}
.footer-link {
  margin-top: 5px;
}
.footer-link a {
  text-decoration: none;
  color: #000;
  font-size: 18px;
}
.footer-link a:hover {
  text-decoration: underline;
  background-color: red;
  transition: 1s ease-out;
}
.zola-text {
  margin-top: 10px;
  font-size: 16px;
}
.footer-arrow-link {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
.footer-arrow-link a {
  margin-top: 5px;
  text-decoration: none;
  color: #000;
}
.footer-arrow-link a:hover {
  text-decoration: underline;
  color: blue;
}
.btn-started {
  margin-top: 10px;
  background-color: blue;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  border-radius: 100px;
  border: none;
  padding: 10px 12px;
}
.social-media-icons {
  margin-top: 20px;
}
.footer-icon {
  margin-left: 10px;
  color: #fff;
  background-color: blue;
  border-radius: 50%;
  padding: 5px;
}
