* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
footer {
  background-color: antiquewhite;
}
.footer__main {
  display: flex;
  justify-content: space-around;
}
ul {
  list-style: none;
}
.heart__icons {
  width: 25px;
}
.arrow__image {
  width: 15px;
}
.couple__image {
  width: 15px;
}
.baby__image {
  width: 15px;
}
.btn__started {
  border-radius: 100px;
  margin-top: 20px;
  font-style: italic;
  padding: 10px;
  background-color: #000;
  color: #fff;
  font-weight: 500;
}
.btn__apple {
  border-radius: 10px;
  padding: 5px;
  background-color: #fff;
  color: #000;
}
.apple__logo {
  width: 20px;
  margin-right: 200px;
}
