* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
.footer__main {
  background-color: antiquewhite;
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
}
/* .footer__header__links {
  display: flex;
  flex-direction: column;
  gap: 20px;
} */
.footer__link {
  margin-top: 20px;
  margin-bottom: 20px;
}
ul {
  list-style: none;
}

.zola {
  margin-bottom: 20px;
}
.heart__icon {
  width: 35px;
}
.arrow__image {
  width: 15px;
}
.couple__image {
  width: 15px;
}
.baby__image {
  width: 15px;
}
.btn__started {
  border-radius: 100px;
  margin-top: 20px;
  font-style: italic;
  padding: 10px;
  background-color: #000;
  color: #fff;
  font-weight: 500;
  margin-bottom: 20px;
}
.btn__apple {
  border-radius: 10px;
  padding: 5px;
  display: flex;
  gap: 10px;
}
.apple__logo {
  width: 20px;
}
.facebook__icons {
  width: 20px;
}
.twitter__icons {
  width: 20px;
}
.instagram__icons {
  width: 20px;
}
.tiktok__icons {
  width: 20px;
}

li:hover {
  text-decoration: underline;
  cursor: pointer;
}
