* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
header {
  margin-left: 200px;
  width: 1000px;
  margin-top: 50px;
}
.header__main {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.header__text {
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 1px;
}
.header__links {
  list-style: none;
  display: flex;
  gap: 20px;
  font-weight: 500;
  color: #355ead;
}
.header__link {
  cursor: pointer;
}
a {
  color: #000;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.btn__sign {
  size: 18px;
  line-height: 24px;
}
.btn {
  cursor: pointer;
  color: #fff;
  font-weight: 500;
  border: none;
}
.btn__register {
  background-color: #0063ff;
  font-size: 18px;
  border-radius: 20px;
  padding: 10px 12px;
  margin-left: 10px;
}

.students {
  background-color: #ffcf3a;
  text-align: center;
  margin-top: 20px;
  padding: 10px;
}
.students a {
  color: blue;
}

/* Hero Section */
.hero__section {
  /* border: 2px solid green; */
  margin-left: 200px;
  width: 1000px;
  margin-top: 50px;
  display: flex;
}
.hero__summary {
  color: #fc9049;
  text-transform: uppercase;
}
.hero__heading {
  margin-top: 5px;
  font-size: 52px;
  text-transform: capitalize;
}
.hero__para {
  margin-top: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 30px;
}

.hero__button {
  display: flex;
  align-items: center;
  /* border: 2px solid red; */
  gap: 15px;
}

.btn__started {
  background-color: #ffcf3a;
  color: black;
  border-radius: 100px;
  padding: 10px;
  font-weight: 600;
  /* font-family: inherit; */
  /* margin-right: 20px; */
}
.btn-play {
  color: #1c75bc;
  background-color: lightblue;
  padding: 10px;
  border-radius: 50%;
}
.hero__next {
  font-weight: 600;
}
.hero__image {
  display: flex;
  margin-bottom: 20px;
}
.hero__image img {
  width: 200px;
  display: flex;
  margin-left: 100px;
  border-radius: 50px;
  justify-content: space-between;
  gap: 50px;
}

/* Data section */

.data-section {
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #0063ff;
  color: white;
  height: 100px;
}

.data-numbers {
  font-weight: 700;
  font-size: 18px;
}
.data-activity {
  font-size: 18px;
}
