* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
header {
  margin-left: 200px;
  border: 2px solid red;
  width: 1000px;
  margin-top: 50px;
}
.header__main {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__text {
  font-weight: 700;
}
.header__links {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  font-weight: 500;
  color: #355ead;
}
.header__link {
  list-style: none;
  cursor: pointer;
}
a {
  text-decoration: none;
  color: black;
}
a:hover {
  text-decoration: underline;
}
.btn__sign {
  size: 18px;
  line-height: 24px;
}

.btn__Register {
  background-color: blue;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  border-radius: 100px;
  padding: 10px 20px;
  border: none;
  box-shadow: 0px 4px 4px 0 rgba(0, 0, 0, 0.25);
  cursor: pointer;
}
.students {
  background-color: yellow;
  text-align: center;
  margin-top: 20px;
  padding: 10px;
}
.students a {
  color: blue;
}
