* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
header {
  margin-left: 200px;
  width: 1000px;
  margin-top: 50px;
}
.header__main {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.header__text {
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 1px;
}
.header__links {
  display: flex;
  list-style: none;
  gap: 20px;
  font-weight: 500;
  color: #355ead;
}
.header__link {
  cursor: pointer;
}
a:hover {
  text-decoration: underline;
}
a {
  color: #000;
  text-decoration: none;
}

.sign {
  size: 18px;
  color: #000;
  font-weight: 600;
  text-decoration: none;
}

.btn__register {
  background-color: #0063ff;
  color: #fff;
  border-radius: 100px;
  padding: 10px 12px;
  border: none;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  cursor: pointer;
  margin-left: 10px;
}

.students {
  margin-top: 20px;
  background-color: #ffcf3a;
  text-align: center;
  padding: 10px;
}
.students a {
  color: blue;
}
.hero__section {
  width: 1000px;
  margin-left: 200px;
  margin-top: 20px;
  display: flex;
}
.hero__summary {
  color: #fc9049;
  text-transform: uppercase;
}
.hero__heading {
  margin-top: 5px;
  text-transform: capitalize;
  font-size: 52px;
}
.hero__para {
  margin-top: 10px;
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 30px;
}
.hero__button {
  display: flex;
  align-items: center;
  gap: 15px;
}
.btn__started {
  background-color: #ffcf3a;
  color: #000;
  border-radius: 100px;
  padding: 10px 12px;
  border: none;
  cursor: pointer;
}
.btn-play {
  color: #1c75bc;
  background-color: lightblue;
  border-radius: 50px;
  padding: 10px;
}
.hero__next {
  font-weight: 600;
}
.hero__image {
  display: flex;
  margin-bottom: 20px;
}
.hero__image img {
  width: 200px;
  display: flex;
  margin-left: 100px;
  border-radius: 50px;
  justify-content: space-between;
  gap: 50px;
}
.data__section {
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
  background-color: #0063ff;
  align-items: center;
  height: 100px;
  color: #fff;
}

.data__numbers {
  font-weight: 700;
  font-size: 18px;
}
.data__activity {
  font-size: 18px;
}
