* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
}
footer {
  display: flex;
  justify-content: space-around;
  background-color: black;
  color: #fff;
  margin-top: 50px;
}
.footer-header {
  font-weight: 700;
  font-size: 25px;
}
.footer-links {
  list-style: none;
  font-size: 18px;
}
.footer-link {
  margin-top: 10px;
}
.footer-link a {
  text-decoration: none;
  color: grey;
}
.footer-link a:hover {
  color: #fff;
}
.footer-icon {
  margin-top: 10px;
}
.facebook-icon {
  background-color: blue;
  border-radius: 50%;
  padding: 5px;
}
.twitter-icon {
  background-color: lightblue;
  color: blue;
  border-radius: 50%;
  padding: 5px;
}
.linkdin-icon {
  background-color: blue;
  color: #fff;
  margin-top: 5px;
  border-radius: 50%;
  padding: 5px;
}
.youtube-icon {
  background-color: red;
  color: #fff;
  border-radius: 50%;
  padding: 5px;
}
.instagram-icon {
  margin-top: 10px;
  background-color: pink;
  color: #fff;
  border-radius: 50%;
  padding: 5px;
}
.tiktok-icon {
  margin-top: 10px;
  background-color: purple;
  color: white;
  padding: 5px;
  border-radius: 50%;
  margin-left: 5px;
}
